<div class="login-container">
	<mat-card class="login-card mat-elevation-z8" [formGroup]="form">
		<img mat-card-image src="../../../assets/img/logo-plangroup.png" />
		<mat-card-content>
			<mat-form-field>
        <input matInput placeholder="email" formControlName="email">
        <mat-error *ngIf="form.get('email').hasError('required')">email obbligatoria</mat-error>
        <mat-error *ngIf="form.get('email').hasError('minLength')">Minimo 8 caratteri</mat-error>
			</mat-form-field>
			<mat-form-field>
        <input matInput type="password" placeholder="Password" formControlName="password">
        <mat-error *ngIf="form.get('password').hasError('required')">password obbligatoria</mat-error>
        <mat-error *ngIf="form.get('password').hasError('minLength')">Minimo 8 caratteri</mat-error>
			</mat-form-field>
			<a (click)="goToSignin()" class="gotoReg">non sei registrato? clicca qui!</a>
			<br/>
			<button mat-raised-button color="primary" (click)="login()">accedi</button>
		</mat-card-content>
	</mat-card>
</div>
