.login-container {
	height: 100vh;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;

	.login-card {
		display: flex;
		flex-direction: column;
		width: 250px;
		.mat-card-image {
			width: 250px;
			margin: auto;
		}
		.mat-card-content {
			margin-top: 100px;
			display: flex;
			flex-direction: column;
			.mat-form-field {
				flex: 1 1 auto;
			}
			.gotoReg {
        text-align: right;
        cursor: pointer;
			}
		}



	}
}
