<div class="signin-container" [formGroup]="form">
	<mat-card class="signin-card mat-elevation-z8">
		<img mat-card-image src="../../../assets/img/logo-plangroup.png" />
		<mat-card-content>
			<mat-form-field hintLabel="Minimo 8 caratteri">
        <input matInput placeholder="Username" formControlName="username">
        <mat-error *ngIf="form.get('username').hasError('required')">username obbligatoria</mat-error>
        <mat-error *ngIf="form.get('username').hasError('minLength')">Minimo 8 caratteri</mat-error>
			</mat-form-field>
			<mat-form-field hintLabel="Minimo 8 caratteri">
				<input matInput placeholder="Email" formControlName="email">
        <mat-error *ngIf="form.get('email').hasError('required')">email obbligatoria</mat-error>
        <mat-error *ngIf="form.get('email').hasError('minLength')">Minimo 8 caratteri</mat-error>
			</mat-form-field>
			<mat-form-field hintLabel="Minimo 8 caratteri">
				<input matInput type="password" placeholder="Password" formControlName="password">
        <mat-error *ngIf="form.get('password').hasError('required')">password obbligatoria</mat-error>
        <mat-error *ngIf="form.get('password').hasError('minLength')">Minimo 8 caratteri</mat-error>
			</mat-form-field>
			<mat-form-field>
        <input matInput type="password" placeholder="Re-password" formControlName="repassword">
        <mat-error *ngIf="form.hasError('repassword')">la password reinserita non è identica alla prima</mat-error>
			</mat-form-field>
			<button mat-raised-button color="primary" [disabled]="!validForm" (click)="signin()">registrati</button>
		</mat-card-content>
	</mat-card>
</div>
