<div class="message">
	<mat-card>
		<mat-card-header>
			<div mat-card-avatar [style]="style"></div>
			<mat-card-title>{{message.from.username}}</mat-card-title>
			<mat-card-subtitle>{{message.timestamp}}</mat-card-subtitle>
		</mat-card-header>
		<mat-card-content>{{message.message}}</mat-card-content>
	</mat-card>
</div>
