/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';
//@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@include mat-core();

$custom-primary: mat-palette($mat-indigo);
$custom-accent:  mat-palette($mat-red);

$custom-theme: mat-light-theme($custom-primary, $custom-accent);

@include angular-material-theme($custom-theme);

html, body { 
  height: 100%;
  html,
  body {
      padding: 0;
      margin: 0;
      overflow: hidden;
      width: 100%;
      height: 100%;

      @media not all and (hover:hover) {
          height: var(--app-height);
      }
  }
}
body { margin: 0; font-family: 'Roboto', sans-serif; }


.snackbar-error {
	background-color: red;
}
