
<div class="chat-container">
		<mat-toolbar color="primary" class="header">
				<span>PlanChat</span>
				<div class="fill"></div>
        <button mat-icon-button (click)="onLogout()"><mat-icon>exit_to_app</mat-icon></button>
			</mat-toolbar>
	<div class="chat-view-container"
	#chatContainer
	infiniteScroll
	[infiniteScrollDistance]="1"
	[infiniteScrollUpDistance]="1"
	[infiniteScrollThrottle]="10"
	[scrollWindow]="false"
	(scrolledUp)="nextPage()">
		<div class="message-row" [class.mine]="isMine(message)" *ngFor="let message of messages">
        <app-message [message]="message"></app-message>
		</div>
	</div>
	<div class="chat-input-container">
		<mat-form-field>
			<input matInput (keydown.enter)="onSend()" [(ngModel)]="message">
		</mat-form-field>
		<button (click)="onSend()" mat-mini-fab color="primary"><mat-icon>send</mat-icon></button>
	</div>
</div>
