.chat-container {
	display: flex;
	width: 100%;
	height: 100%;
  flex-direction: column;

	.fill {
		flex: 1 1 auto;
	}

  .header {
    height: 60px;
  }

	.chat-view-container {
		height: calc(100% - 60px - 80px);
		overflow: scroll;
    display: flex;
    flex-direction: column;
    .message-row {
      padding: 10px;
      margin-right: auto;
      &.mine {
        margin-right: unset;
        margin-left: auto;
      }
    }
    
		
	}
	.chat-input-container {
		height: 80px;
		display: flex;
		flex-direction: row;
		padding: 5px 10px;
		.mat-form-field {
			flex: 1 1 auto;
		}
	}
}
